<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Game</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
  </head>
  <body>
<!-- {{#wordBlanks}}<span>{{resultString}}</span>{{/wordBlanks}} wordBlanks isn't defined anywhere yet... -->
    <p class="final_display">{{{resultString}}}
    </p>
    <p class="lives_left">Thanks for playing!
    </p>
    <p class="letters_guessed_already">
    {{#letters_guessed_already}}Letters you guessed incorrectly: {{.}}{{/letters_guessed_already}}
    {{^letters_guessed_already}}{{/letters_guessed_already}}
    </p>
    <form action="/newgame" method="post">
      <button type="submit" name="restart">Would you like to play again?</button>
    </form>
  </body>
</html>
