body{
  font-family: 'Poppins', sans-serif;
  width: 80%;
  text-align: center;
}

.blanks_and_letters{
  font-size: 4em;
  padding: 40px;
  margin-top: 40px;
  display: inline-block;
}

form{
  margin-top: 100px;
}

label, input, button, p{
  font-size: 2em;
}

input{
  font-size: 2em;
  margin: 0px 15px;
  width: 60px;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: black;
  border-image: none;
  cursor: help;
  text-align: center;
  padding: 0px 0px 0px 0px;
  outline: none;
}

button{
  margin-left: 10px;
  padding: 5px 30px;
  background-color: buttonface;
  color: ghostwhite;
  box-sizing: none;
  border-width: 0px;
  border-style: solid;
  border-color: hsl(200, 4%, 43%);
  border-image: none;
}

.missed{
  color: red;
}
